@charset "UTF-8";

/* 回答はここに書いてね */

.speech-baloon {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    font-size: 16px;
    line-height: 16px;
    border: 5px solid #222;
    border-radius: 30px;
    position: relative;
}

.speech-baloon:before {
    bottom: -45px;
    left: 30px;
    border-color: #222 transparent transparent;
}

.speech-baloon:after {
    bottom: -38px;
    left: 30px;
    border-color: #fff transparent transparent;
}

.speech-baloon:before,
.speech-baloon:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
}

/* 回答はここに書いてね */
