@charset "UTF-8";

/* 回答はここに書いてね */

.q8 {
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.q8__cell {
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.is__1 {
  width: 100px;
  background-color: #fdc8b8;
}

.is__2 {
  background-color: #e0abd9;
}

.is__3 {
  width: 100px;
  background-color: #b6d8ed;
}

.is__4 {
  background-color: #e5d32e;
}

.is__5 {
  background-color: #e4e67c;
}

.is__6 {
  background-color: #8fdcad;
  width: 500px;
}


/* 回答はここに書いてね */
